body {
  margin: 3rem 0;
  font-family: 'Comfortaa', cursive;
  color: #67679E;
  background: #E4ECFE;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
